<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.dao.mapper.GasBottleMapper">
    <insert id="insert">
        insert into t_gas_bottle (orgId,code,bottleCode,deviceName,mediumId,mediumName,manufacturer,manufactureDate,workPressure,volume,weight,wallThickness,lastCheckTime,nextCheckTime,invalidatedDate,longitude,latitude)
        values (#{orgId},#{code},#{bottleCode},#{deviceName},#{mediumId},#{mediumName},#{manufacturer},#{manufactureDate},#{workPressure},#{volume},#{weight},#{wallThickness},#{lastCheckTime},#{nextCheckTime},#{invalidatedDate},#{longitude},#{latitude})
    </insert>
    <update id="updateNextCheckTime">
        update t_gas_bottle set nextCheckTime='${nextCheckDate}'
        where id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <update id="updateLocation">
        update t_gas_bottle set longitude=#{longitude},latitude=#{latitude} where orgId=#{orgId} and code=#{code}
    </update>

    <delete id="deleteByIds">
        delete from t_gas_bottle
        <where>
            <choose>
                <when test="null != ids">
                    <foreach collection="ids" item="id" separator="," open="id in ("
                             close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    0=1
                </otherwise>
            </choose>
        </where>
    </delete>

    <sql id="gridWhere">
        from t_gas_bottle a
        <where>
            <if test="null != entity">
                <if test="null != entity.bottleCode and entity.bottleCode != ''">
                    and a.bottleCode=#{entity.bottleCode}
                </if>
                <if test="null != entity.code and entity.code != ''">
                    and a.code like '%${entity.code}%'
                </if>
                <if test="entity.mediumId > 0">
                    and a.mediumId=#{entity.mediumId}
                </if>
            </if>
        </where>
    </sql>

    <select id="listPaged" resultType="GasBottle">
        select a.*
        <include refid="gridWhere" />
        order by createTime desc
        <if test="tableParam.length > -1">
            limit #{tableParam.start},#{tableParam.length}
        </if>
    </select>
    <select id="count" resultType="int">
        select count(*)
        <include refid="gridWhere" />
    </select>

</mapper>