<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.dao.mapper.GasFillingLogMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_gas_filling_log (orgId,code,fillingTime,fillinger,inspector,longitude,latitude)
        values (#{orgId},#{code},NOW(),#{fillinger},#{inspector},#{longitude},#{latitude})
    </insert>
    <delete id="deleteByIds">
        delete from t_gas_filling_log
        <where>
            <choose>
                <when test="null != ids">
                    <foreach collection="ids" item="id" separator="," open="id in ("
                             close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    0=1
                </otherwise>
            </choose>
        </where>
    </delete>

    <sql id="gridWhere">
        <where>
            <if test="null != entity">
                <if test="null != entity.code and entity.code != ''">
                    and a.gasBottleCode=#{entity.code}
                </if>
            </if>
        </where>
    </sql>
    <select id="listPaged" resultType="GasFillingLog">
        select a.*,b.name fillingerName
        from t_gas_filling_log a
        left join t_employee b on a.fillinger=b.id
        <include refid="gridWhere" />
        order by id desc
        <if test="tableParam.length > -1">
            limit #{tableParam.start},#{tableParam.length}
        </if>
    </select>
    <select id="count" resultType="int">
        select count(a.id)
        from t_gas_filling_log a
        <include refid="gridWhere" />
    </select>

</mapper>