<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.dao.mapper.OrderMapper">
    <insert id="insert" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into t_order
        (unitName,unitAddress)
        values
        (#{unitName},#{unitAddress})
    </insert>

    <delete id="deleteByIds">
        delete from t_order
        <where>
            <choose>
                <when test="null != ids">
                    <foreach collection="ids" item="id" separator="," open="id in (" close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    0=1
                </otherwise>
            </choose>
        </where>
    </delete>

    <sql id="gridWhere">
        from t_order a
        <where>
            <if test="null != entity">
                <if test="null != entity.unitName and '' != entity.unitName">
                    and a.unitName like '%${entity.unitName}%'
                </if>
            </if>
        </where>
    </sql>
    <select id="listPaged" resultType="Customer">
        select a.*
        <include refid="gridWhere" />
        <if test="tableParam.length > -1">
            limit #{tableParam.start},#{tableParam.length}
        </if>
    </select>
    <select id="count" resultType="int">
        select count(a.id)
        <include refid="gridWhere" />
    </select>
    
    <select id="listAvailable" resultType="Order">
        select id,unitName,status from t_order where status=0 and orgId=#{orgId}
    </select>

</mapper>