<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.dao.mapper.OrgMapper">
    <insert id="insert" parameterType="Org" useGeneratedKeys="true" keyProperty="id">
        insert into t_org
        (name)
        values
        (#{name})
    </insert>

    <update id="update" parameterType="Customer">
        update t_org set name=#{name} where id=#{id}
    </update>

    <delete id="deleteByIds">
        delete from t_org
        <where>
            <choose>
                <when test="null != ids">
                    <foreach collection="ids" item="id" separator="," open="id in ("
                             close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    0=1
                </otherwise>
            </choose>
        </where>
    </delete>

    <sql id="gridWhere">
        from t_org a
        <where>
            <if test="null != entity">
                <if test="null != entity.name and '' != entity.name">
                    and a.name like '%${entity.name}%'
                </if>
            </if>
        </where>
    </sql>
    <select id="listPaged" resultType="Org">
        select a.*
        <include refid="gridWhere" />
        <if test="tableParam.length > -1">
            limit #{tableParam.start},#{tableParam.length}
        </if>
    </select>
    <select id="count" resultType="int">
        select count(a.id)
        <include refid="gridWhere" />
    </select>

    <select id="getById" resultType="Org">
        select id,name from t_org where id=#{id}
    </select>

    <select id="listAll" resultType="Org">
        select id,name from t_org
    </select>
</mapper>