<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.dao.mapper.RoleMapper">
    <insert id="insert" parameterType="Role" useGeneratedKeys="true" keyProperty="id">
        insert into t_role
        (name,status,description)
        values
        (#{name},#{status},#{description})
    </insert>

    <update id="update" parameterType="Role">
        update t_role set name=#{name},status=#{status},description=#{description} where id=#{id}
    </update>

    <insert id="batchInsertAcl">
        insert into t_acl (role_id,permission_id) values
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (#{id}, #{permissionId})
        </foreach>
    </insert>
    <delete id="deleteAclByRoleId">
        delete from t_acl where role_id=#{roleId}
    </delete>

    <delete id="deleteByIds">
        delete from t_role
        <where>
            <choose>
                <when test="null != ids">
                    <foreach collection="ids" item="id" separator="," open="id in ("
                             close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    0=1
                </otherwise>
            </choose>
        </where>
    </delete>

    <select id="selectWhenAssignRole" resultType="Role">
        select a.id,a.name,b.user_id from t_role a
        left join t_user_role b on b.role_id=a.id and b.user_id=#{userId}
        where a.status = 0
    </select>

    <sql id="gridWhere">
        from t_role a
        <where>
            <if test="null != entity">
                <if test="null != entity.name and '' != entity.name">
                    and a.name like '%${entity.name}%'
                </if>
            </if>
        </where>
    </sql>
    <select id="listPaged" resultType="Role">
        select a.*
        <include refid="gridWhere" />
        <if test="tableParam.length > -1">
            limit #{tableParam.start},#{tableParam.length}
        </if>
    </select>
    <select id="count" resultType="int">
        select count(a.id)
        <include refid="gridWhere" />
    </select>

</mapper>