<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.volunteer.pojo.po.User" alias="User" />
		<typeAlias type="com.volunteer.pojo.po.Role" alias="Role" />
		<typeAlias type="com.volunteer.pojo.po.Permission" alias="Permission" />
		<typeAlias type="com.volunteer.pojo.po.Acl" alias="Acl" />
		<typeAlias type="com.volunteer.pojo.po.GasBottle" alias="GasBottle" />
		<typeAlias type="com.volunteer.pojo.po.GasFillingLog" alias="GasFillingLog" />
		<typeAlias type="com.volunteer.pojo.po.Customer" alias="Customer" />
		<typeAlias type="com.volunteer.pojo.po.Employee" alias="Employee" />
		<typeAlias type="com.volunteer.pojo.po.Org" alias="Org" />
		<typeAlias type="com.volunteer.pojo.po.Medium" alias="Medium" />
		<typeAlias type="com.volunteer.pojo.po.Order" alias="Order" />
		<typeAlias type="com.volunteer.pojo.po.BottleLocation" alias="BottleLocation" />
	</typeAliases>
	<mappers>
		<!-- mapper.xml文件要想放到src/main/java路径下面，一定要在maven里面配置resource，<include>**/*.*</include> 
			不然就maven不会把xml打包出来，这样会报FileNotFoundException 或者也可以用其他方式，把xml文件放到resource目录下： 
			<mapper resource="mappers/UserMapper.xml" /> -->
		<mapper resource="com/volunteer/dao/mapper/UserMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/RoleMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/PermissionMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/GasBottleMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/GasFillingLogMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/CustomerMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/EmployeeMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/OrgMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/MediumMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/OrderMapper.xml" />
		<mapper resource="com/volunteer/dao/mapper/BottleLocationMapper.xml" />
	</mappers>
</configuration>